{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div>
            {% for auction in auctions %}
            {%if auction.active == "Active" %}
            <div class="card-deck">
                <div class="card" style="width: 18rem;">
                    <div>
                        <button class="watchlist">Add to Watchlist</button>
                        <h3 class="item_title"> {{auction.title}} </h3><br>
                        <img class="card-img-top" src="{{auction.image.url}}" alt="" width="300"> 
                    </div>
                    <br>
                    <div class="card-body">
                        <strong>Description</strong>
                       <div>{{auction.description}}</div> 
                       <br>
                       <strong>Price</strong>
                       <div>{{auction.price}}</div>
                       
                    </div>
                </div>
            </div>
           
            <br>
            {%endif%}
            {%endfor%}
    </div>
    
 
    
{% endblock %}